<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>添加学生</title>

    <!-- Bootstrap core CSS -->
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../public/css/dashboard.css" rel="stylesheet">
    <style>
        #account ~ p {
            color: red;

        }

        #account + span {
            display: none;
        }
    </style>
</head>

<body>
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.38/assets/js/vendor/jquery.min.js"><\/script>')</script>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">淄博职业学院学生管理系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">设置</a></li>
                <li><a href="#">我的</a></li>
                <li><a href="#">退出登录</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="请输入姓名/学号/手机号">
                <input type="submit" value="查找" class="btn">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <!--<li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>-->
                <!-- 双大括号each:是express-art-template提供的，不懂的话去看express-art-template-->
                {{each admin.permission}}
                <li class="{{$value.path==='/admin-add-student.html'?'active':''}}"><a href="{{$value.path}}">{{$value.name}}</a>
                </li>
                {{/each}}
            </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">添加学生</h1>
            <form class="form-horizontal" action="/add-student" method="get">
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">姓名:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" placeholder="请输入学生姓名" name="name">
                    </div>
                </div>
                <div class="form-group">
                    <!--                    系统里面不会存年龄，会存出生日期-->
                    <label for="age" class="col-sm-2 control-label">年龄:</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="age" placeholder="请输入学生年龄" name="age">
                    </div>
                </div>
                <div class="form-group " id="accountBox">
                    <label for="account" class="col-sm-2 control-label">账号：</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="account" placeholder="请输入学生账号" name="account">
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                        <p></p>
                    </div>
                    <script>
                        const phone_reg = /^1((3[0-9])|(4[57])|(5[0-35-9])|(7[035-8])|(8[0-9])|66|98|99|47)\d{8}$/
                        let isTest = false

                        function testAccountError(warning) {
                            $('#account~p').html(warning)
                            //框变红
                            $('#accountBox').addClass('hsa-error has-feedback')
                            $('#account+span').show()
                        }

                        $('#account').change(function () {
                            isTest=false
                            /*if(账号格式正确){
                                //jq ajax向后台发送账号，判断是否已注册
                                if(未注册){

                                }else{
                                    //提示:账号已注册
                                }
                            }else{
                                //账号格式不正确
                            }*/
                            // console.log(this)
                            // if(phone_reg.test(this.value))js方法
                            if (!phone_reg.test($(this).val())) {//jq方法
                                //提示账号格式不正确
                                testAccountError('账号格式不正确')
                                return

                            }
                            /*$('#account~p').html('')
                            $('#accountBox').removeClass('has-error has-feedback')
                            $('#account+span').hide()
                    */
                            // jq ajax向后台发送账号，判断是否已注册
                            $.get(
                                '/test-account',
                                {account: $(this).val()},//发送的内容
                                (data) => {
                                    console.log(data)//后端回来的消息
                                    if (data) {
                                        //提示已注册
                                        testAccountError('手机号已注册')
                                        return
                                    }
                                    $('#account~p').html('')
                                    $('#accountBox').removeClass('has-error has-feedback')
                                    $('#account+span').hide()
                                    isTest = true
                                }
                            )

                        })


                        $('form').submit(function () {
                            return isTest
                        })
                        /*$('form').on('submit',function () {
                                    return isTest
                        })*/
                    </script>
                </div>
                <div class="form-group">
                    <strong class="col-sm-2 control-label">性别：</strong>
                    <div class="col-sm-10">
                        <label class="radio-inline">
                            <input type="radio" name="gender" checked value="1"> 男
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="gender" value="0"> 女
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <strong class="col-sm-2 control-label">爱好：</strong>
                    <div class="col-sm-10">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="hobbies" value="网络小说"> 网络小说
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="hobbies" value="玩游戏"> 玩游戏
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="hobbies" value="看电影"> 刷剧
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="hobbies" value="写律师函"> 写律师函
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="hobbies" value="吃瓜"> 吃瓜
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="hobbies" value="bilibili"> bilibili
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="hobbies" value="买冰糕"> 买冰糕
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="hobbies" value="其他"> 其他
                        </label>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn  btn-primary">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
